<h1>Sign up</h1>

<!-- 'form_for' automatically fills in the 
fields with the attributes of the @user object. -->

<%= form_for(@user) do |f| %>
	<%= render 'fields', :f => f %>
	<div class="actions">
		<%= f.submit "Sign up" %>
	</div>	
<% end %>

